<h2>Sign up</h2>

<h5><%= @notice %></h5>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <div>
    <%= f.text_field :name, { :placeholder => "Name", :autofocus => true } %> </div>

  <div>
    <%= f.email_field :email, { :placeholder => "you@contact.com", :autofocus => true } %> </div>

  <div>
      <%= f.text_field :profession, { :placeholder => "Profession", :autofocus => true } %> </div>
  <div>
    <%= f.password_field :password, {:placeholder => "Password" } %></div>

  <div>
    <%= f.password_field :password_confirmation, { :placeholder => "Password confirmation"} %></div>

  <div><%= f.submit "Save" %></div>
<% end %>

<%= render "devise/shared/links" %>
