<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
<div><%= f.label :name%><br />
  <%= f.text_field :name, { :value => "Name", :autofocus => true } %> </div>

  <div><%= f.label :profession %><br />
  <%= f.text_field :profession, { :value => "Profession", :autofocus => true } %> </div>

  <div><%= f.label :email %><br />
    <%= f.email_field :email, { :value => "Email", :autofocus => true } %> </div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password, :value => "Password" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, :value => "Password confirmation" %></div>

  <div><%= f.submit "Subscribe" %></div>
<% end %>

<%= render "devise/shared/links" %>
